[Desktop Entry]
Name=Musik
GenericName=Audio Player
Comment=A simple audio player
Exec=musik
Icon=org.koderoots.musik
Type=Application
Terminal=false
Categories=AudioVideo;Player;Audio;Qt;KDE;
